div.context-info
{
	margin-top: 5px;
}

h1
{
	border-bottom: 1px solid #CCC;
}

div.context-info strong
{
	font-style: italic;
	font-weight: normal;
}

.with-margin-top
{
	margin-top: 15px;
}

span.hint
{
	font-size: 0.9em;
	display:block;
	margin-bottom: 10px;
	margin-top: -10px;
	font-style: italic;
	color:#555;
}

span.field-error
{
	color:red;
	margin-top: -15px;
	display: block;
	font-size: 0.9em;
	margin-bottom: 10px;
}

div.row.actions-after-list
{
	margin-top: 50px;
}